.page404_content_block {
  width: 100%;
  background-image: url(../images/404/404bumble.png);
  background-repeat: no-repeat;
  background-size: 1260px;
  background-position: top 100px center;
  margin: 0 auto;

  @include max-screen (768px) {
    background-size: contain;
  }

  .page404_content {
      padding-bottom: 140px;
      padding-top: 230px;

      @include max-screen (768px) {
        padding-top: 120px;
        padding-bottom: 70px;
      }

      @include max-screen (321px) {
        padding-top: 70px;
      }

      h1{
        display: flex;
        justify-content: center;
        align-items: center;  
        font-size: 230px;
        line-height: 200px;
        margin-bottom: 30px;
        @include museo700;
        color: $c_content;

        img{
          margin-left: 15px;
          margin-right: 15px;
        }

        @include max-screen (600px) {
          font-size: 150px;
          img{
            max-width: 150px;
          }
        }

        @include max-screen (321px) {
          font-size: 100px;
          img{
            max-width: 100px;
          }
        }
      }

      p{
        max-width: 560px;
        text-align: center;
        margin: 0 auto;
        color: $c_content;
        letter-spacing: 0.24px;
        margin-bottom: 35px;
        @include museo500;  
        font-size: 16px;
      }

    .goto-home {
      @include museo500;  
      font-size: 16px;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;  
      width: 195px;
      height: 60px;
      border-radius: 50px;
      text-align: center;
      background: $c_bg_btn;
      position: relative;
      z-index: 10;
      margin: 0 auto;

      &:after{
        @include psev_full;
        border-radius: 50px;
        background: $c_bg_btn_hover;
        opacity: 0;
        z-index: -1;
      }

       &:hover:after, &:focus:after{
        opacity: 1;
       }
    }
  }
}