h1,h2{
  @include museo700;  
  font-size: 36px;
  color: $content;
  margin-bottom: 50px;  
}

// Первый блок с превьюшками
.news-title-block {
  .preview-news {
    @include flex($j-sb,$a-fs,$fww);  
    @include max-screen (426px) {
      justify-content: center;
    }
    // Стили блока новостей в файле news-item.scss
  }
}


// Новости по категориям

.news-by-category {
  margin-top: 70px;
  padding-bottom: 130px;
  border-bottom: 1px solid #dbe2e5;
  .news-category-title {
    @include flex($j-fs,$a-fs); 
    @include max-screen (992px) {
      flex-wrap: wrap;
    }
    h2{
      line-height: 36px;
      @include max-screen (992px) {
        flex-basis: 100%;
        margin-bottom: 20px;
      }
    } 
    .result-category {
      @include flex($j-fs,$a-ic);  
      margin-top: 5px;
      margin-left: 10px;
      @include max-screen (992px) {
        margin-bottom: 30px;
        margin-left: 0;
      }
      @include max-screen (426px) {
        justify-content: space-between;
      }
      span{
        max-width: 120px;
        height: 30px;
        padding: 10px 8px;
        margin-left: 10px;
        border-radius: 5px;
        border: 1px solid $gray_btn;
        color: $gray_btn;
        @include museo500;  
        font-size: 13px;
        letter-spacing: 0.19px;
        @include flex($j-cc,$a-ic);  
        @include max-screen (992px) {        
          margin-left: 0;
          margin-right: 10px;
          padding: 3px 8px;
        }
        @include max-screen (426px) {
          max-width: 170px;
          width: 170px;
          margin-right: 0;
          margin-bottom: 10px;
        }
        @include max-screen (376px) {
          width: 150px;
        }
        @include max-screen (321px) {
          max-width: 100%;
          width: 100%;
        }
      }
    }
  }
  .news-category-content {
    @include flex($j-sb,$a-fs,$fww);  
    @include max-screen (426px) {
      justify-content: center;
    }
    .catalog-paginacia{
      flex-basis: 100%;
      .arrow-prev, .arrow-next{
        @include max-screen (992px) {
          margin-bottom: 0;
        }
      }
    }
  }
}
