h1{
  line-height: 36px;
  @include max-screen (426px) {
    font-size: 30px;
  }
}
// Вопросы и ответы

.faq-content {
  .question {
    summary::-webkit-details-marker {
          display: none;
    }
    summary{
      cursor: pointer;
      position: relative;
      color: $content;  
      font-size: 18px;
      margin-bottom: 30px;
      -moz-user-select: none;  // Запретить выделение текста
      -khtml-user-select: none;
      user-select: none;  
      padding-top: 25px;
      border-top: 1px solid #e1e9ee;
      @include museo700;  
      &:focus{
        outline: none;
      }
      &:after{ 
        content: "+";
        font-size: 20px;
        padding-left: 2px;
        padding-bottom: 2px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: $func_color3;
        @include flex($j-cc,$a-ic);  
        z-index: 2;
        color: $white;
        right: 0;
        top: 73%;
        transform:translateY(-50%);  
        position: absolute;
        transition: all .3s linear;
      }
    }
    p{
      color: $content;  
      font-size: 13px;
      line-height: 22px;
      letter-spacing: 0.2px;
      @include museo500; 
      margin-bottom: 40px;
      opacity: 0.8; 
    }
    &[open] summary{
      outline: none;
      &:after{
        content: "—";
        background: $gray_btn;
      }
    }
    &:last-child{
      summary{
        padding-bottom: 25px;
        border-bottom: 1px solid #e1e9ee;
        &:after{
          top: 50%;
        }
      }
    }
  }
}


// Форма обратной связи

.faq-form {
  margin-top: 100px;
  padding-bottom: 120px;
  border-bottom: 1px solid #dbe2e5;  
}

// Отдельно форма
.milovar-form {
  &.feedback{
    padding: 50px;
    background-color: $white;
    border-radius: 6px;
    @include max-screen (376px) {
      padding: 30px;
    }
    @include max-screen (321px) {
      padding: 20px;
    }
    h3{
      @include museo700;  
      font-size: 36px;
      color: $content;  
      margin-bottom: 40px;
      @include max-screen (426px) {
        font-size: 30px;
      }
      @include max-screen (376px) {
        font-size: 25px;
      }
    }
  }
  .form-quest {
    max-width: 700px;
    @include flex($j-sb,$a-fs,$fww);
    label{ 
      a.politica{
          color: $func_color;
          text-decoration: underline;
          display: inline;
          @include max-screen (992px) {
            display: block;
            position: relative;
            left: 35px;
          }
          @include max-screen (768px) {
            display: inline;
            left: 0;
          }
      }
    } 
    .name-item, .email-item{
      flex-basis: 46%;
      input{
        border: none;
        outline: none;
        width: 290px;
        height: 55px;
        margin-bottom: 20px;
        color: $content;  
        font-size: 14px;
        background-color: $form_bg;
        border-radius: 6px;
        padding-left: 15px;
        &.no-check{
          border: 1px solid red;
        }
      }
       @include max-screen (992px) {
         flex-basis: 100%;
         input{
          width: 100%;
         }
       }    
    }
    .email-item{
      margin-right: 40px;
      @include max-screen (992px) {
        margin-right: 0;
      }
    }
    .quest-item{
      flex-basis: 100%;
      input{
        max-width: 630px;
        width: 100%;
        height: 155px;
        padding-bottom: 110px;
        margin-bottom: 20px;
        color: $content;  
        font-size: 14px;
        background-color: $form_bg;
        border-radius: 6px;
        padding-left: 15px;
       }
    }
    .submit-item{
      flex-basis: 100%;
      margin-top: 15px;
      margin-bottom: 30px;
      input{
        width: 210px;
        height: 60px;
        cursor: pointer;
        font-size: 16px;
        @include museo500;  
        @include flex($j-cc,$a-ic);  
        color: $white;
        background: $bg_btn;
        border-radius: 50px;
        &:hover{
          background: $bg_btn_hover;
        }
      }
    }
  }
}

