.slick-slide{
    outline: none;
    &:focus{
      outline: none;
    }
    &:active{
      outline: none;
    }
  }
  .slick-arrow{
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    z-index: 10;  
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: $white;
    -webkit-text-stroke: .5px $func_color2;
    background-color: $func_color2;
    @include flex($j-cc,$a-ic); 
    cursor: pointer;
    padding: 0;
    font-weight: 100;
    // text-align: center;
    // padding-left: 10px;
    padding-bottom: 3px;
    &:focus{
      outline: none;
    }
    i.fa:before{
      font-size: 30px;
    }
  }
  .slick-prev{
    left: 15px;
    padding-right: 2px;
  }
  .slick-next{
    right: 15px;
  }

