.result-search {
  padding-bottom: 120px;
  border-bottom: 1px solid #dbe2e5;  
  h1{
    line-height: 36px;
    color: $content;  
    font-size: 36px;
    @include max-screen (321px) {
      font-size: 30px;
    }
    span{
      color: #acbdd1;
      font-size: 24px;
      @include museo500;  
    }
  }
  .search-result-content {
    @include flex($j-sb,$a-fs);
    @include max-screen (768px) {
      flex-wrap: wrap;
    }
    h3{
      font-size: 18px;
      @include museo700;  
      color: $content; 
      @include flex($j-sb,$a-ic);   
      .line {
        flex: 1 0;
        border-bottom: 1px solid #e1e9ee;
        margin-left: 60px;
      }
      &.next-h{
        margin-top: 50px;
      }
    }
    .right-result {
      width: 100%;
      margin-left: 30px;
      flex-basis: 75%;
      h3{
          @include max-screen (768px) {
          margin-top: 50px;
          flex-basis: 100%;
        }
      }
      @include max-screen (768px) {
        flex-basis: 100%;
        margin-left: 0;
      }
      .result-product {
        .result-product-block {     
        @include max-screen (768px) {
             @include flex($j-sb,$a-fs,$fww);  
           }   
          .result-product-item {
            margin-top: 30px;
            background-color: $white;
            box-shadow: 0px 5px 6px 0px rgba(31, 64, 91, 0.05);
            border-radius: 5px;
            @include flex($j-sb,$a-fs);  
            padding: 20px 25px;
            @include max-screen (1200px) {
              flex-wrap: wrap;
            }
            @include max-screen (768px) {
              flex-basis: 45%;
              padding: 20px 18px;
            }
            @include max-screen (426px) {
              flex-basis: 100%;
            }
            .column1 {
              img{
                max-height: 160px;
                @include max-screen (426px) {
                  max-height: 200px;
                  margin: 0 auto;
                }
              }
              @include max-screen (992px) {
                flex-basis: 100%;

              }
            }
            .column2 {
              @include max-screen (1200px) {
                flex-basis: 100%;
                order: 1;
              }
              @include max-screen (992px) {
                order: 0;
                margin-top: 30px;
              }
              .top-lable {
                @include flex($j-fs,$a-ic);  
                margin-bottom: 20px;
                .metka {
                  top: 15px;
                  left: 15px;
                  width: 58px;
                  height: 25px;
                  @include museo500;  
                  font-size: 13px;
                  border-radius: 6px;
                  background-color: #efb288;
                  color: #fff;
                  @include flex($j-cc,$a-ic); 
                }
                .like{
                  position: relative;
                  width: 30px;
                  height: 30px;
                  top: 5px;
                  left: 10px;
                  cursor: pointer;
                  &:after{
                    @include psev(25,25); 
                    background-image: url(../images/catalog/heart.png);
                    background-repeat: no-repeat;
                    right: 0;
                    top: 0; 
                  }
                  &:hover:after{
                    background-image: url(../images/catalog/heart-bl.png);
                  }
                }
              }
              p{
                  @include museo500;  
                  font-size: 15px;
                  color: $content;  
                  line-height: 21px;
                  max-width: 330px;
                  margin-bottom: 20px;
                  transition: all 0.3s linear;
                  &:hover, &:focus{
                    color: $func_color;
                  }  
                  @include max-screen (1200px) {
                    max-width: 100%;
                  }
              }
              .options {
                h6{
                  @include museo500;  
                  font-size: 13px;
                  color: $content;  
                  margin-bottom: 5px;
                  span{
                    opacity: 0.8;
                  }
                  a{
                    color: $func_color;
                    @include museo300;
                    text-decoration: underline;  
                  }
                }
              }
            }
            .column3 {
              max-width: 270px;
              padding: 20px 0 20px 20px;
              border-left: 1px solid #eeeff2;
              @include max-screen (992px) {
                max-width: 100%;
                width: 100%;
                border-left: none;
                border-top: 1px solid #eeeff2;
                margin-top: 30px;
                padding-left: 0;
              }
              .bottom-func {
                @include flex($j-sb,$a-ic,$fww);
                @include max-screen (768px) {
                  flex-direction: column;
                  align-items: center;  
                  justify-content: center;
                }
                span.fasov{
                  @include museo500;
                  font-size: 13px;
                  color: #949daf;
                  margin-bottom: 5px;
                  position: relative;
                   &:after{
                    @include psev;
                    background-image: url(../images/home/arr.png);
                    background-repeat: no-repeat;
                    left: 200px;
                    top: 225%;
                    z-index: 2;
                    cursor: pointer;
                    pointer-events: none;
                    @include max-screen (992px) {
                      left: 300px;
                    }
                    @include max-screen (768px) {
                      left: 110px;
                    }
                   }
                }
                .fas-select{
                  flex-basis: 100%;
                  display: block;
                  padding: 10px;
                  max-width: 100%;
                  border-radius: 5px;
                   -moz-appearance: none;
                   -webkit-appearance: none;
                   appearance: none;
                   border: 1px solid #dde0e6;
                   @include museo700;
                   font-size: 13px;
                   color: $content; 
                   position: relative;
                   z-index: 1;
                   cursor: pointer;
                   @include max-screen (1170px) {
                    padding-right: 40px;
                   }  
                   &:focus{
                    outline: none;
                   }
                }
                .colvo {
                  margin-top: 20px;
                  outline: none;
                  border: none;
                  @include max-screen (768px) {
                    // flex-basis: 100%;
                  }
                  @include max-screen (426px) {
                    margin-left: 10px;
                  }
                  input[type=number]::-webkit-inner-spin-button,
                  input[type=number]::-webkit-outer-spin-button {
                      -webkit-appearance: none;
                      -moz-appearance: none;
                      appearance: none;
                      margin: 0;
                    }
                  input{
                    text-align: center;
                    @include museo700;  
                    font-size: 13px;
                    border: none;
                    color: #949daf;
                    &:focus{
                      outline: none;

                    }
                  } 
                  .quan-plus, .quan-minus{
                    border-radius: 50%;
                    border: none;
                    width: 26px;
                    height: 26px;
                    background-color: #949daf;
                    color: #fff;
                    font-size: 16px;
                    font-weight: 600;
                    text-align: center;
                    vertical-align: middle;
                    cursor: pointer;
                    &:focus{
                      outline: none;

                    }
                  }
                }
                .into-basket {
                  @include museo500;  
                  font-size: 14px;
                  color: #fff;
                  display: flex;
                  justify-content: center;
                  align-items: center;  
                  width: 115px;
                  height: 35px;
                  border-radius: 50px;
                  text-align: center;
                  background: $bg_btn;
                  margin-top: 20px;
                  transition: background .7s ease;
                  position: relative;
                  z-index: 10;
                  &:after{
                    @include psev_full;
                    border-radius: 50px;
                    background: $bg_btn_hover;
                    opacity: 0;
                    z-index: -1;
                    transition: all .7s ;
                  }
                  &:hover:after{
                      opacity: 1;
              
                  }
                }
              }
             }
            }
        }
      }
      .result-recipes, .result-news {
        .result-item{
          @include flex($j-sb,$a-fs); 
          background-color: $white;
          border-radius: 5px; 
          margin-top: 30px;
          box-shadow: 0px 5px 6px 0px rgba(31, 64, 91, 0.05);
          @include max-screen (992px) {
            flex-wrap: wrap;
          }
          .left-column{
            flex-basis: 30%;
            img{
              min-height: 220px;
              // border-radius: 5px;
            }
            @include max-screen (1200px) {
              flex-basis: 45%;
              img{
                min-height: 290px;
              }
            }
            @include max-screen (992px) {
              flex-basis: 100%;
              img{
                width: 100%;
                border-radius: 10px;
              }
            }
          }
          .right-column{
            flex-basis: 75%;
            padding:25px 20px;
            @include max-screen (992px) {
              flex-basis: 100%;
            }
            h4 a{
              @include museo500;  
              color: $content;  
              font-size: 15px;
              margin-bottom: 20px;
              letter-spacing: 0.2px;
              transition: all 0.3s linear;  
              &:hover, &:focus{
                color: $func_color;
              }
            }
            p{
              font-size: 13px;
              line-height: 22px;
              color: $content;  
              opacity: 0.8;
              @include museo500; 
              letter-spacing: 0.2px; 
              margin-bottom: 40px;
              @include max-screen (1200px) {
                margin-bottom: 20px;
              }
            }
            .more{
              @include museo500;  
              color: $func_color;
              font-size: 14px;
              padding-right: 30px;
              display: block;
              text-align: right;
              background-image: url(../images/card-tovar/right-arrow.png);
              background-position: right center;
              background-repeat: no-repeat;
            }
          }
        }
      }
      
    }
  }
}
