        .catalog-paginacia {
          @include flex($j-fe,$a-ic); 
          margin-top: 30px;
          padding-right: 5px;
          @include max-screen (768px) {
            justify-content: center;
          }
          .numbers-page {
            a{
              color: $content;
              @include museo500;  
              font-size: 15px;
              position: relative;
              z-index: 2;
              margin: 20px;
              @include max-screen (426px) {
                margin: 15px;
              }
              @include max-screen (376px) {
                margin: 10px;
              }
              @include max-screen (321px) {
                margin: 8px;
              }
              &:after{
                @include psev_circle(35,$bg_btn);
                top: 50%;
                left: 50%;
                transform:translate(-50%,-50%); 
                z-index: -1;
                opacity: 0;
              }
              &:hover, &:focus{
                color: $func_color;
              }
              &:hover:after{
                // opacity: 1;
              }
              &.active{
                color: #fff;
              }
              &.active:after{
                opacity: 1;
              }

            } 
          }
          .arrow-next {
            @include arrow(10,2,$right,$content);  
            margin-left: 15px;
            cursor: pointer;
            @include max-screen (992px) {
              margin-bottom: 23px;
            }
            @include max-screen (768px) {
              margin-bottom: 0;
            }
            &:hover{
              border-right: 2px solid $func_color;
              border-top: 2px solid $func_color;
            }
          }
          .arrow-prev {
            @include arrow(10,2,$left,$content);
            margin-right: 15px; 
            cursor: pointer;
            @include max-screen (992px) {
              margin-bottom: 23px;
            }
            @include max-screen (768px) {
              margin-bottom: 0;
            }
            &:hover{
              border-right: 2px solid $func_color;
              border-top: 2px solid $func_color;
            }
          }
        }