.privacy-policy{
    &__title{
        @include max-screen (768px) {
            margin-bottom: 30px;
        }
        @include max-screen (360px) {
            font-size: 28px;
        }
        
        
    }
    &__content{

        strong{
            margin: 30px 0 15px;
            display: block;
        }

        p{
            margin-bottom: 10px;
        }
    }
}