.prod-element{

    .info-product{

        &-content{
            background-color: #fff;
            border-radius: 10px;
            padding: 50px 60px;
            margin-bottom: 100px;

            h3{
                // padding-top: 50px;
                font-size: 24px;
                line-height: 1;
                @include museo700;
                margin-bottom: 30px;
            }

            p{
                font-size: 14px;
                @include museo500;
                line-height: 24px;
                margin-bottom: 48px;
            }

            ul{
                margin: 0;
                padding-left: 20px;
                margin-bottom: 25px;
            }

            li{
                list-style: none;
                position: relative;
                padding-bottom: 20px;
                font-size: 14px;
                @include museo500;

                &::before{
                    position: absolute;
                    content: "";
                    width: 10px;
                    height: 10px;
                    border-radius: 5px;
                    background-color: $c_func_color;
                    left: -20px;
                    top: 5px;
                }
            }

            a{
                color: $c_func_color;
                text-decoration: underline;
            }

            .grey-block{
                border-left: 2px solid $c_func_color;
                background-color: #f6fafe;
                padding: 20px 30px 10px 30px;
                p{
                    margin-bottom: 15px;
                }
            }

            .grey-label{
                padding: 10px 15px;
                border: 1px dashed $c_grey_border;
                border-radius: 5px;
            }
        }
    }

    .block-gallery-product{
        display: flex;
        background-color: $c_white;
        border-radius: 10px;
        height: 560px;
        padding: 0 60px 0 30px;
        margin-bottom: 25px;

        @include max-screen (992px) {
            flex-wrap: wrap;
        }

        @include max-screen (321px) {
            padding: 0 10px;
        }

        .left-gallery {
            margin-right: 40px;
            flex-basis: 50%;
            margin-top: 30px;
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;

            @include max-screen (1170px) {
                margin-right: 20px;
            }

            @include max-screen (992px) {
                flex-basis: 100%;
                margin-right: 0;
                align-items: center;
            }

            @include max-screen (768px) {
                margin-bottom: 15px;
            }

            .product-slider{
                background-color: #fff;
                max-width: 540px;
                margin-bottom: 10px;
      

                
                .slide-item-img{
                    height: 400px;
                    border-radius: 5px;
                    @include max-screen (768px) {
                        height: auto;
                        max-width: 100%;
                        width: 100%;
                        display: block;
                    }
                    
                }

                @include max-screen (992px) {
                    max-width: 630px;
                    width: 100%;
                }

                @include max-screen (768px) {
                 
                    max-width: 450px;
                }
                @include max-screen (650px) {
                    max-width: 400px;
                    width: 100%;
                }
                @include max-screen (480px) {
                    max-width: 300px;
                }
                
                
                @include max-screen (426px) {
                    max-width: 280px;
                }

                @include max-screen (375px) {
                    max-width: 260px;
                }

                @include max-screen (321px) {
                    // max-width: 270px;
                }

                .funcybox{
                    width: 100%;
                    cursor: pointer;
                    position: relative;
                    &:before{
                        content: "";
                        position: absolute;
                        width: 50px;
                        height: 50px;
                        left: 10px;
                        top: 10px;
                        background-image: url(../images/card-tovar/big.png);
                        background-repeat: no-repeat;
                    }
                    img{
                        width: 100%;
                        max-height: 400px;
                    }
                }
            }

            .product-slider-mini{
                max-width: 540px;

                @include max-screen (992px) {
                    max-width: 650px;
                    width: 100%;
                }

                @include max-screen (768px) {
                    max-width: 470px;
                }
                @include max-screen (650px) {
                    display: none;
                }
                
                @include max-screen (426px) {
                    display: none;
                }

                @include max-screen (426px) {
                    display: none;
                }
            }

            .funcybox{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #fff;
            }

            .slide-item{
                height: 94px;
                display: flex;
                justify-content: center;
                padding: 0 5px;
                border: 2px solid transparent;
                border-radius: 5px;

                &.slick-current{
                    border-color: $c_func_color;
                }

                &:focus{
                    outline: 0;
                }

                .slide-item-img{
                    max-height: 94px;
                    border-radius: 5px;
                    //border: 2px solid transparent;
                    cursor: pointer;
                }
            }
        }

        .right-info {
            flex-basis: 50%;
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include max-screen (992px) {
                flex-basis: 100%;
            }

            @include max-screen (768px) {
                margin-top: 0;
            }

            @include max-screen (426px) {
                margin-top: 0;
            }

            .navigation-btn{
                display: flex;
                align-items: center;
                margin-bottom: 14px;

                @include max-screen (768px) {
                    margin-bottom: 25px;
                }

                .prev-prod,
                .next-prod {
                    @include museo500;
                    font-size: 12px;
                    align-items: center;
                    color: #949daf;
                    width: 65px;
                    height: 25px;
                    margin-right: 15px;
                    border: 1px solid #949daf;
                    border-radius: 30px;
                    opacity: 0.5;
                    @include flex($j-cc,$a-ic);
                }
            }

            h3{
                margin-bottom: 25px;
            }

            .specifications {

                h6{
                    @include museo300;
                    font-size: 13px;
                    color: $c_content;
                    letter-spacing: 0.19px;
                    line-height: 13px;
                    margin-bottom: 10px;
                    position: relative;
                    @include flex($j-sb,$a-ic);

                    .line-dotted{
                        flex: 1 0;
                        border-bottom: 1px dashed #e2e5e8;
                        height: 1em;
                        margin: 0 5px;
                    }

                    span{
                        @include max-screen (1170px) {
                            text-align: right;
                        }
                    }
                }
            }

            .fasov-colvo{
                display: flex;
                flex-wrap: wrap;
                margin-top: 20px;

                &__title{
                    width: 100%;
                    font-size: 16px;
                    color: $c_content;
                    @include museo500;
                }

                &__list{
                    display: flex;
                    flex-wrap: wrap;
                    width: calc(100% + 12px);
                    margin: 0 -6px;
                }

                &__item{
                    height: 46px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid $c_grey_border;
                    border-radius: 5px;
                    cursor: pointer;
                    position: relative;

                    &.is-chek{
                        border-color: $c_func_color;

                        .fasov-colvo__item-quest{
                            background-position: -46px -23px;
                        }
                    }

                    &-title{
                        font-size: 13px;
                        @include museo700;
                        color: $c_content;
                        opacity: .7;
                    }

                    &-container{
                        width: 100%;
                        max-width: 25%;
                        padding: 6px;
                    }

                    &-quest{
                        display: flex;
                        position: absolute;
                        height: 14px;
                        width: 14px;
                        background-image: url("../images/strip.png");
                        border-radius: 7px;
                        top: 5px;
                        right: 5px;
                        background-position: -46px -3px;

                        &:hover{

                            .fasov-colvo__item-text{
                                display: flex;
                            }
                        }
                    }

                    &-text{
                        display: none;
                        position: absolute;
                        background-color: $c_white;
                        border: 1px solid $c_grey_border;
                        border-radius: 5px 5px 5px 0;
                        z-index: 10;
                        padding: 5px;
                        font-size: 10px;
                        line-height: 10px;
                        top: 0;
                        left: 7px;
                        transform: translateY(calc(-100% + 7px));
                        width: 80px;
                    }
                }
            }

            .buy-price {
                margin-top: 25px;
                margin-bottom: 50px;
                display: flex;
                align-items: center;
                //justify-content: space-between;

                @include max-screen (1170px) {
                    flex-wrap: wrap;
                }

                @include max-screen (1024px) {
                    margin-bottom: 20px;
                }
                @include max-screen (992px) {
                    max-width: 600px;
                }
                

                .price {
                    font-size: 24px;
                    @include museo700;
                    color: $c_content;
                    @include max-screen (768px) {
                        font-size: 18px;
                    }
                    @include max-screen (360px) {
                        width: 100%;
                    }
                    
                    
                }

                .colvo {
                    outline: none;
                    border: none;
                    margin-right: 40px;
                    margin-left: auto;
                    display: flex;
                    align-items: center;

                    input[type=number]::-webkit-inner-spin-button,
                    input[type=number]::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        margin: 0;
                    }

                    input{
                        text-align: center;
                        @include museo700;
                        font-size: 13px;
                        border: none;
                        color: #949daf;
                        width: 30px;

                        &:focus{
                            outline: none;

                        }
                    }

                    .quan-plus, .quan-minus{
                        border-radius: 50%;
                        border: none;
                        width: 26px;
                        height: 26px;
                        background-color: #949daf;
                        color: #fff;
                        font-size: 16px;
                        font-weight: 600;
                        text-align: center;
                        vertical-align: middle;
                        cursor: pointer;
                        &:focus{
                            outline: none;
                        }
                    }
                    @include max-screen (1200px) {
                        margin-right: 10px;
                    }
                    
                    @include max-screen (1024px) {
                        margin: 0px auto;
                    }
                    @include max-screen (360px) {
                        // width: 100%;
                    }
                    
                }

                .into-basket {
                    @include museo500;
                    font-size: 16px;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 150px;
                    height: 60px;
                    border-radius: 50px;
                    text-align: center;
                    background: $c_func_color;
                    position: relative;
                    z-index: 10;
                    border: 1px solid $c_func_color;
                    cursor: pointer;

                    &:focus{
                        outline: 0;
                    }

                    &:hover{
                        background-color: $c_white;
                        color: $c_func_color;
                    }
                    @include max-screen (768px) {
                        height: 35px;
                        width: 115px;
                        font-size: 14px;
                    }
                    
                }
            }
        }
    }

    .product-slider{

        .slick-slide{
            outline: none;
            height: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            @include max-screen (650px) {
                // max-width: 400px;
                // width: 100%;
            }
            &:focus{
                outline: none;
            }

            &:active{
                outline: none;
            }
        }

        .slick-arrow{
            position: absolute;
            top: 50%;
            transform:translateY(-50%);
            z-index: 10;
            border: none;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            color: $c_white;
            background-color: $c_func_color;
            cursor: pointer;
            font-weight: 100;
            display: flex;
            padding: 0 0 3px 0;

            &:focus{
                outline: none;
            }

            i.fa:before{
                font-size: 30px;
            }
        }

        .slick-prev{
            left: 15px;
            transform: rotate(180deg) translateY(50%);
            transform-origin: center;
        }

        .slick-next{
            right: 15px;
        }

        .slick-prev,
        .slick-next{
            padding: 0;

            &::before,
            &::after{
                position: absolute;
                content: "";
                width: 10px;
                height: 1px;
                background-color: $c_white;
                top: 50%;
                left: 50%;
                transform: rotate(45deg) translateX(-50%) translateY(-50%);
            }

            &::after{
                transform: rotate(-45deg) translateX(-50%) translateY(-50%);
            }
        }
    }

    .prod-light-box{
        max-height: 400px;

        &::before{
            content: "";
            position: absolute;
            top: 15px;
            left: 15px;
            width: 35px;
            height: 35px;
            display: flex;
            background-image: url('../images/strip.png');
            background-position: -3px -483px;
            border-radius: 18px;
        }
    }

    .fancybox-image{
        border-radius: 5px;
    }
}

@media screen and (max-width: 1200px) {

    .prod-element{

        .block-gallery-product{
            padding: 0 15px;
            height: auto;

            .right-info .buy-price .colvo{
                // margin-right: 10px;
            }
        }
    }

    .prod-element .info-product-content{
        padding: 0 15px 20px;
    }
}

@media screen and (max-width: 1024px) {
    .prod-element .block-gallery-product .right-info .buy-price .into-basket{
        // margin-top: 20px;
        // width: 100%;
    }

    .prod-element .block-gallery-product .right-info .buy-price .price{
        // width: 100%;
        text-align: center;
    }

    .prod-element .block-gallery-product .right-info .buy-price .colvo{
    }
}

@media screen and (max-width: 560px) {

}