//$black: #000000;
$c_back: #f2f5f9;
$c_white: #ffffff;
$c_content: #3e5065!global;
$c_content_trans: rgba(62, 80, 101, .8);
$c_red: #e86060;
$c_func_color: #87c5ef;
$c_grey_border: #dee1e5;
$c_ponos: #efb288;
$c_gray_btn: #949daf;
$c_order_grey: #f6fafe;
$c_bg_btn: linear-gradient(to left, rgb(138,197,238) 0%, rgb(111,196,255) 100%);
$c_bg_btn_hover:  linear-gradient(to left,#67abdc 0%, #67abdc 100%);

//949daf
//$bg_full: #eff6f9;

//$func_color2: #74c4fc;
//$func_color3: #85c5f1;
//$warn_color: #f26262;

//$form_bg: #f2f3f7;
