.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	a{

		&:hover{
			text-decoration: none;
		}
	}

	&__top{
		background-color: $c_white;
	}

	&__bottom{
		// background-color: $c_back;
		background-color: transparent;
	}

	.header-block {
		display: flex;
		justify-content: space-between;
		padding: 10px 0;
		font-size: 13px;
		align-items: center;
		color: $c_content;
		position: relative;

		@include max-screen (992px) {
			text-align: center;
		}
		@include max-screen (768px) {
			flex-wrap: wrap;

		}
		.adress {
			display: flex;
			align-items: center;
			position: relative;
			cursor: pointer;

			&:hover{

				.adress__title{
					color: $c_func_color;
				}

				.adress__ico{
					@include back_strip(-24, -295);
				}
			}

			&__list{
				position: absolute;
				top: 100%;
				right: 0;
				z-index: 1;
				max-width: 200px;
				width: max-content;
				height: auto;
				padding: 8px 10px;
				border-radius: 10px;
				background-color: $c_white;
				border: 1px solid $c_func_color;
			}

			&__item{
				padding: 2px 0;
			}

			&__ico{
				display: flex;
				width: 15px;
				height: 20px;
				@include back_strip(-3, -295);
				margin-right: 8px;
			}

			&::after{
				content: "";
				display: block;
				border: 7px solid $c_func_color;
				border-bottom: 0;
				border-left-color: transparent;
				border-right-color: transparent;
				margin-left: 8px;
				transition: all .6s;

			}

			@include max-screen (1170px) {
				padding-right: 35px;
			}
		}
		.register{
			position: relative;
			right: 15px;
		}

		.is-open{

			&.adress{

				&::after{
					transform: rotateX(180deg);
				}
			}
		}

		.nav-items {

			.header-nav {
				display: flex;
				justify-content: space-around;
				li{
					margin-right: 38px;
					&:last-child{
					}
					a{
						color: $c_content;
            &:hover, &:focus{
              color: $c_func_color;
            }
					}
				}
			}
		}
		.register {

			@include max-screen (1170px) {
				padding-right: 30px;
			}

			@include max-screen (1024px) {
				padding-right: 15px;
			}

			a{
				color: $c_content;

				&:hover, &:focus{
					  color: $c_func_color;
				}
			}
		}

	}

	.head-content-nav{
		display: flex;
		padding-top: 25px;
		align-items: center;
		padding-bottom: 25px;
		border-bottom: 1px solid $c_grey_border;


		.logo-block{
			width: 100%;
			max-width: 17.9487%;

			a{
				display: flex;
			}

			img{
				margin-left: -7px;
				height: 51px;
			}
		}
	}

	.head-nav{

		&__list{
			display: flex;
			width: 100%;
			max-width: 49.5727%;
		}

		&__item{
			padding: 0 17px;
		}

		&__link{
			@include museo500;
			font-size: 15px;
			color: $c_content;

			&:hover{
				color: $c_func_color;
			}
		}
	}
}

// бургер  и мобильное меню


.header-mobile-menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgb(239,246,249);
	z-index: 20;
	// margin-left: -120%;
	display: none;
	opacity: 0;
	transform-origin: right top;
	transform: scale(0);
	visibility: hidden;
	transition: all 0.4s ease-in-out;
	overflow: hidden;

	 &.open {
		opacity: 1;
		visibility: visible;
		transform: scale(1);

		li {
			display: block;
			animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5)
				forwards;
			animation-delay: 0.4s;
			transform: rotate(-7deg);
			transform-origin: right bottom;

			&:nth-of-type(2) {
				animation-delay: 0.5s;
			}
			&:nth-of-type(3) {
				animation-delay: 0.6s;
			}
			&:nth-of-type(4) {
				animation-delay: 0.7s;
			}
			&:nth-of-type(5) {
				animation-delay: 0.8s;
			}
			&:nth-of-type(6) {
				animation-delay: 0.9s;
			}
			&:nth-of-type(7) {
				animation-delay: 1s;
			}
			&:nth-of-type(8) {
				animation-delay: 1.1s;
			}
			&:nth-of-type(9) {
				animation-delay: 1.2s;
			}
			&:nth-of-type(10) {
				animation-delay: 1.3s;
			}
		}
	}

	.header-mobile-nav {
		margin-top: 40px;

		li{
			padding-bottom: 10px;
			text-align: center;

			a{
				font-size: 24px;
				transition: all 0.3s linear;
				@include museo500;

				color: $c_content;

				@include max-screen (376px) {
					font-size: 22px;
				}

				@include max-screen (321px) {
					font-size: 18px;
				}

				i{
					color: $c_func_color;
					padding-left: 10px;
				}

				&:hover, &:focus{
					color: $c_func_color;
				}
			}
		}
	}
}


@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 50px;
    }
    100% {
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
    }
}
.locked {
    overflow: hidden;
}

.nav-burger{
  display: none;
	height: 20px;
	width: 28px;
	position: relative;
	// transition: all .3s linear;
	cursor: pointer;
	z-index: 21;

	&__bar{
		display: flex;
		width: 28px;
		height: 2px;
		background-color: $c_content;
		position: absolute;
		left: 0;
		transform-origin: center;
	transition: all .1s linear;


		&-1{
			top: 0;
		}

		&-2{
			top: 50%;
			margin-top: -1px;
		}

		&-3{
			bottom: 0;
		}
	}

	&.open{

		.nav-burger{

			&__bar{
				width: 32px;
				left: -3px;

				&-1{
					display: none;
				}

				&-2{
					top: 50%;
					margin-top: -1px;
					transform: rotate(45deg);
				}

				&-3{
					bottom: 50%;
					margin-bottom: -1px;
					transform: rotate(-45deg);
				}
			}
		}
	}
}

#serch-form{
	margin-bottom: 0;
	position: relative;

	.search-form-ico-mobile,
	.search-form-ico{
		position: absolute;
		display: flex;
		width: 18px;
		height: 18px;
		@include back_strip(-3, -183);
		top: 50%;
		margin-top: -9px;
		left: 14px;
		cursor: pointer;
	}

	.search-form-ico-mobile{
		display: none;
	}

	input{
		border: 1px solid $c_func_color;
		height: 40px;
		width: 260px;
		display: flex;
		border-radius: 20px;
		padding: 0 15px 0 40px;

		&:focus{
			outline: 0;
		}
	}
}

.phone-basket-block{
	display: flex;
	width: 100%;
	max-width: 34.4786%;
	justify-content: space-between;

	.phone-item{
		display: flex;
		align-items: center;
		width: 203px;

		&:hover{

			.phone-item__ico{

				&::after{
					@include back_strip(-35, -231);
				}
			}

			.phone-item__text{
				color: $c_func_color;
			}
		}

		&__ico{
			display: flex;
			width: 46px;
			height: 46px;
			background-color: $c_white;
			border-radius: 8px;
			margin-right: 15px;
			position: relative;

			&::after{
				position: absolute;
				content: "";
				display: flex;
				height: 26px;
				width: 26px;
				top: 50%;
				left: 50%;
				@include back_strip(-3, -231);
				transform: translate(-50%, -50%);
			}
		}

		&__text{
			font-size: 18px;
			@include museo500();
			color: $c_content;
		}
	}

	.basket-item{
		display: flex;
		align-items: center;

		&:hover{

			.basket-item__ico::after{
				background-position-x: -29px;
			}

			.basket-item__text{
				color: $c_func_color;
			}
		}

		&__ico{
			display: flex;
			width: 46px;
			height: 46px;
			background-color: $c_white;
			border-radius: 8px;
			margin-right: 15px;
			position: relative;

			&::after{
				position: absolute;
				content: "";
				display: flex;
				height: 26px;
				width: 20px;
				top: 50%;
				left: 50%;
				@include back_strip(-3, -263);
				transform: translate(-50%, -50%);
			}
		}

		&__text{
			font-size: 18px;
			@include museo500();
			color: $c_content;
		}

		&__col{
			position: absolute;
			display: flex;
			padding: 5px 3px 4px;
			background-color: $c_func_color;
			font-size: 10px;
			line-height: 10px;
			color: $c_white;
			z-index: 1;
			border-radius: 10px;
			min-width: 19px;
			justify-content: center;
			align-items: center;
			top: 0;
			right: 0;
			transform: translate(28%, -28%);
		}
	}
}

.breadcrumbs{
	background-color: $c_back;

	.container{
		display: flex;
		align-items: center;
	}

	a{

		&:hover{
			text-decoration: none;
		}
	}

	&__prev{
		display: flex;
		padding: 20px 0 25px;

		&-link{
			font-size: 13px;
			color: $c_func_color;
			margin-right: 40px;
			display: flex;
			align-items: center;
		}

		&-arr{
			display: flex;
			width: 20px;
			height: 1px;
			background-color: $c_func_color;
			margin-right: 10px;
			position: relative;

			&::before,
			&::after{
				content: "";
				width: 5px;
				height: 1px;
				background-color: $c_func_color;
				position: absolute;
				transform-origin: left;
				top: 0;
				left: 0;
				transform: rotate(45deg);
			}

			&::after{
				transform: rotate(-45deg);
			}
		}
	}

	&__list{
		display: flex;
		padding: 20px 0 25px;
		flex-wrap: wrap;
	}

	&__item{

		&-text{
			font-size: 13px;
			@include museo500;
			color: $c_content;
		}
	}

	&__separ{
		padding: 0 6px;
	}
}

.red-label{
	color: $c_red !important;
}

#navToggle-mini{
	display: none;
}

.header-mobile-menu.open li.mobile-register,
.phone-mobile{
	display: none;
}

@media screen and (max-width: 1160px) {
	#serch-form input{
		width: 155px;
	}

	.header .head-nav__item{
		padding: 0 10px;
	}
}

@media screen and (max-width: 1024px) {
	.header .header-block .nav-items .header-nav li{
		margin-right: 20px;
	}
}

@media screen and (max-width: 1022px) {
	.nav-burger{
		display: flex;
	}

	.header .header-block .nav-items{
		display: none;
	}

	.header .head-nav__list{
		display: none;
	}

	.phone-basket-block{
		max-width: 100%;
		justify-content: flex-end;
	}

	.phone-basket-block .phone-item{
		margin-right: 40px;
	}

	.header-mobile-menu {
		display: block;
		text-align: left;
	}
}

@media screen and (max-width: 960px) {
	.header .head-nav__list{
		flex-wrap: wrap;
		justify-content: space-around;
	}
}

@media screen and (max-width: 768px) {

	.header .head-content-nav .logo-block{
		max-width: 260px;
	}

	.header .header-block .adress__list{
		right: -20px;
	}
}

@media screen and (max-width: 700px) {

	.phone-basket-block{
		justify-content: space-between;
	}

	.phone-basket-block .phone-item{
		margin-right: 0;
	}
}

@media screen and (max-width: 650px) {

	.header .head-content-nav{
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.header .header-block #navToggle{
		display: none;
	}

	.header .header-block .register{
		display: none;
	}

	#header-cart{
		display: none;
	}

	#navToggle-mini{
		display: flex;
	}

	.phone-basket-block .basket-item__ico{
		margin-right: 0;
	}

	.phone-basket-block .basket-item{
		margin-left: auto;
		margin-right: 35px;
	}

	.phone-basket-block .phone-item{
		display: none;
	}

	.phone-basket-block{
		align-items: center;
	}

	.phone-mobile{
		display: block;

		.phone-item{
			display: flex;
			align-items: center;

			&:hover{

				.phone-item__text{
					color: $c_func_color;
				}

				.phone-item__ico{
					background-position: -46px -63px;
				}
			}

			&__ico{
				display: flex;
				height: 14px;
				width: 14px;
				background-image: url('../images/strip.png');
				background-position: -46px -43px;
				margin-right: 8px;
			}

			&__text{
				font-size: 13px;
				@include museo300;
				color: $c_content;
			}
		}
	}

	.header-mobile-menu.open li.mobile-register{
		display: block;
		padding-bottom: 20px;
	}

	#serch-form{
		width: 42px;
		height: 40px;
		position: relative;

		.search-form-ico{
			display: none;
		}

		.search-form-ico-mobile{
			display: flex;
			z-index: 1;
			transition: all .5s;

			
		}

		&.full-width{

			input[name='q']{
				border-color: $c_func_color;
				width: calc(100vw - 45px);
				padding-right: 40px;
			}

			.search-form-ico-mobile{
				left: calc((100vw - 100px) * -1);
			}

			.search-form-close{
				position: absolute;
				top: 50%;
				margin-top: -8px;
				left: 10px;
				height: 16px;
				width: 16px;
				cursor: pointer;

				&::before,
				&::after{
					display: block;
					position: absolute;
					content: "";
					width: 16px;
					height: 2px;
					background-color: $c_content;
					top: 50%;
					left: 50%;
					transform-origin: center;
					transform: translateX(-50%) translateY(-50%) rotate(45deg);
				}

				&::after{
					transform: translateX(-50%) translateY(-50%) rotate(-45deg);
				}
				@include max-screen (376px) {
					width: 40px;
					height: 40px;
					left: 0;
					top: 20%;
				}
				
			}
		}

		input[name='q']{
			border-color: transparent;
			padding-right: 0;
			position: absolute;
			top: 0;
			right: 0;
			width: 40px;
			transition: all .5s;
		}
	}
}

@media screen and (max-width: 600px) {

	.header .header-block{

		.adress{
			order: 1;
		}

		.phone-mobile{
			order: 2;
		}

		.search{
			order: 3;
		}
	}
}

@media screen and (max-width: 460px) {

	.header .head-content-nav .logo-block{
		max-width: fit-content;
	}

	.phone-basket-block{
		margin-right: auto;
	}
}

@media screen and (max-width: 400px) {
	.header .header-block .adress__ico{
		display: none;
	}

	.header .header-block .adress{
		padding-right: 0;

		&::after{
			content: none;
		}
	}

	.header .header-block .adress__list{
		right: -100px;
	}
}